html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}
p {
  margin: 0;
}

/* Navbar */
.main-logo {
  max-width: 130px;
  max-height: auto;
}

#nav-container {
  background-color: #1c232b;
  min-height: 10vh;
}
#ul-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 992px) {
  #logo-container {
    display: flex;
    justify-content: center;
  }
  #hamburger-icon {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #mobile-demo {
    background-color: #1c232b;
  }
  #mobile-demo li a {
    color: white;
  }
}
/* Navbar */

/* Main */
.collapsible-header,
.collapsible-body {
  width: 100vw;
}
@media (min-width: 425px) {
  .collapsible-header,
  .collapsible-body {
    font-size: 1rem;
  }
  .responsive-img {
    max-height: 300px;
  }
}
@media (min-width: 760px) {
  .collapsible-header,
  .collapsible-body {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .collapsible-header,
  .collapsible-body {
    font-size: 2rem;
  }
}
/* Main */

/* Footer */
#footer-container {
  width: 100%;
  padding: 0;
  background-color: #1c232b;
}
.copyright-p {
  text-align: center;
}
/* Footer */
