html,
body {
    height: 100%;
width: 100%;
margin: 0;
padding: 0;
}

/* Navbar */
.main-logo {
max-width: 130px;
max-height: auto;
}

#nav-container {
background-color: #1c232b;
min-height: 10vh;
}
#ul-container {
height: 100%;
display: flex;
flex-direction: row;
align-items: center;
}

@media (max-width: 992px) {
#logo-container {
    display: flex;
    justify-content: center;
}
#hamburger-icon {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#mobile-demo {
    background-color: #1c232b;
}
#mobile-demo li a {
    color: white;
}
}
/* Navbar */


/* Footer */
#footer-container {
    width: 100%;
    padding: 0;
    background-color: #1c232b;
}
.copyright-p {
    text-align: center;
}
  /* Footer */
h2{
    font-size: 3opx;
}
section{
    box-shadow: 5px 5px;
    border-radius: 5%;
    justify-content: center;
    display:flex;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    margin-top: 10%;
    margin-bottom: 10%;
}
p{ 
    font-size: 10px;
}