html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column ;
}

/* Navbar */
.main-logo {
  max-width: 130px;
  max-height: auto;
}

#nav-container {
  background-color: #1c232b;
  min-height: 10vh;
}
#ul-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 992px) {
  #logo-container {
    display: flex;
    justify-content: center;
  }
  #hamburger-icon {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #mobile-demo {
    background-color: #1c232b;
  }
  #mobile-demo li a {
    color: white;
  }
}
/* Navbar */

/* Main */
.form-container {
  padding: 20px;
}

input[input=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  resize: vertical;
  box-sizing: border-box;
}

.contactForm {
  padding: 20px;
}

Form {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  margin: 15px 15px 15px 15px;
}

label {
  font-weight: bold;
  color: black;
}

#options-form {
  display: block;
}

#commentBox {
  display: none;
  margin: 20px;

}
/* Main */

/* Footer */
#footer-container {
  width: 100%;
  padding: 0;
  background-color: #1c232b;
}
.copyright-p {
  text-align: center;
}
/* Footer */
