html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.main-logo {
  max-width: 130px;
  max-height: auto;
}

#nav-container {
  background-color: #1c232b;
  min-height: 10vh;
}
#ul-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 992px) {
  #logo-container {
    display: flex;
    justify-content: center;
  }
  #hamburger-icon {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #mobile-demo {
    background-color: #1c232b;
  }
  #mobile-demo li a {
    color: white;
  }
}
/* Navbar */

/* Main */
main {
display: block;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

label {
  font-weight: bold;
  color: black;
}

#options-form {
  display: block;
}

#commentBox {
  display: none;
  margin: 20px;

}
/* Main */

/* Footer */
#footer-container {
  width: 100%;
  padding: 0;
  background-color: #1c232b;
}
.copyright-p {
  text-align: center;
}
/* Footer */
